@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	background: #000;
	color: #fff;
	font-size: 16px;
}
input[type="text"]{
	width: 60%;
	padding:10px 10px;
	border-bottom: 1px solid silver;
	background-color: #000;
	color: #fff;
	font-size: 1.3em;
}
button{
	padding: 12px 10px;
	border: 1px solid #1ed660;
	background-color: #000;
	color: #1ed660;
	font-size: 1.3em;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.flip{
    display: inline-block;
    width: 32%;
    height: 400px;
    vertical-align: top;
    position: relative;
    }
.flip img{
	width: 100%;
	height: auto;
}
.flip:hover .back{
	height: 250px;
	
}
.back{
	transition: all .5s ease-in-out;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0px;
	font-size: 1.2em;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.back span{
	margin-top: 300px;
}